<div class="homepage-container">
  {% load staticfiles %}

  <link rel="stylesheet" type="text/css" href="{% static "homepage/stylesheets/homepage.css" %}" />

  <div class="navbar">
    <div class="float-left">

    </div>

    <div class="float-right">
      
    </div>
  </div>

  <div class="search-bar-container">

    <img src="{% static "homepage/assets/logo.png" %}" alt="logo"></img>

    <form class="form">
        <input type="text" name="summonername" placeholder="Search summoner">
        <input class="button" type="button" value="Search">
    </form>

  </div>

</div>
